Package: com.muirey03.hive
Name: Hive
Depends: mobilesubstrate, preferenceloader, com.creaturesurvive.libcscolorpicker, ws.hbang.common (>= 1.11)
Version: 1.0.4
Architecture: iphoneos-arm
Description: Redesigned passcode screen
Maintainer: Muirey03
Author: Muirey03
Section: Tweaks
